root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{csproj,xml,xaml,props,targets,ruleset,config,json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.IDE0290.severity = suggestion
